body {
    text-align: center;
}

img {
    border-radius: 7px !important;
}

h1,
h2 {
    font-family: 'Lobster', cursive;
    color: rgb(104, 104, 104);
}

h3,
h4 {
    color: rgb(104, 104, 104);
}

h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 330px;
}

.title {
    margin-top: 20px;
}

.nav-wrapper {
    background-color: rgb(74, 126, 128);
}


#logo {
    margin-top: 5px;
    background-color: rgb(218, 216, 218);
    border-radius: 50% !important;
}

/***** Buttons *****/
#edit {
    background-color: rgb(49, 23, 145);
}

#show_edit {
    background-color: rgb(49, 23, 145);
    margin-bottom: 15px;
}

#delete {
    background-color: rgb(204, 6, 6);
}

#show_delete {
    background-color: rgb(204, 6, 6);
    margin-bottom: 15px;
}

.btn {
    font-family: 'Roboto', sans-serif;
}

#show_chords_image {
    max-width: 200px;
    max-height: 200px;
    size: auto;
}

#mobile-demo {
    background-color: rgba(26, 43, 38, 0.932);
}

#mobile-demo a {
    color: rgb(255, 255, 255)
}

#errormsg {
    color: rgb(224, 8, 8);
    font-size: 15px;
}

/***** MEDIA QUERIES *****/
@media only screen and (max-width: 800px) {
    #diagram {
        width: 355px;
    }

    #chart-title {
        font-size: 35px;
    }

    #chord_txt {
        font-size: 10px;
    }

    .card-image {
        display: none;
    }
} 