{% extends 'base.html'%} {% block content %}

<h2 >Add Your Song!</h2>

{% if error %}

<div id="errormsg" class="row">Oops, something went wrong! Did you miss any of these - Artist Name, Song Name or Chords?</div>

{% endif %}

<div id="form_add" class="container">
    <div class="row">
        <form class="col s12" action="{{url_for('add_chords')}}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s12">
                    <input id="band_name" type="text" name="band_name" class="validate">
                    <label for="band_name">Artist Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="song_name" type="text" name="song_name" class="validate">
                    <label for="song_name">Song Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="chords_text" class="materialize-textarea" name="chords_text" rows="10"></textarea>
                    <label for="chords_text">Chords &nbsp <em>(Input the text with the lyrics and the chords the way you want it to be shown)</em></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="image" type="text" name="image" class="validate">
                    <label for="image">URL for Cover Image &nbsp <em>(if you can't find a good one, leave this field empty...)</em></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <div class="control">
                        <button class="btn" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}